src/pymovements/_version.py export-subst
tests/files/**/*.asc   text eol=lf
tests/files/**/*.csv   text eol=lf
tests/files/**/*.json  text eol=lf
tests/files/**/*.jsonl text eol=lf
tests/files/**/*.tsv   text eol=lf
tests/files/**/*.txt   text eol=lf
